* {
    box-sizing: border-box;
} 

body{
    background-color: black;
    font-family: "Inter", sans-serif;
}

/* top header control section*/
.heading{
    position:fixed;
    top:0;
    display: flex; /*so that i can do the three part alignment*/
    justify-content: space-between; 
    align-items: center; /*make the row of logos vertically centralised */
    object-fit: contain;;
    width: calc(100vw - 10px);
    padding: 10px 10px;
    z-index: 5;
    background-color: black;
}

.spotify-logo{
    height: 40px;
    max-width: 100%;
}

.home-search{
    display: flex ;
    align-items: center;
    gap:10px;
}

.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%; /*make it a circle*/
    position: relative;
    background-color: rgb(65, 65, 65);
}

.home-img{
    width: 35px;
    height: 35px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute; /*linked to circle*/
    object-fit: contain;
}

.search-box{
    width: 100%;
    max-width: 520px;
    height: 45px;
    border-radius: 25px;
    background-color: rgb(65, 65, 65);
    font-family: "Inter", sans-serif;
    font-size: 15px;
    color: rgb(154, 154, 154);
    display: flex;
    align-items: center;
    position: relative;
    padding: 5px 5px;
    
}
.search-img{
    width: 40px;
    height: 40px;
}

.user-img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

/*bottom panels for playlists and albums*/
.homescreen-bottom{
    position: fixed;
    top: 70px;
    display: flex;
    gap: 10px;
    width: 100vw;
    height: calc(100vh - 70px);
    object-fit: contain;
}

.playlist-panel{
    display: flex;
    justify-content: center;
    width: 65px;
    height: calc(100vh - 70px);
    border-radius: 8px;
    background-color:rgb(65, 65, 65) ;
}
.lib-icon{
    position: absolute;
    text-align: center;
    width: 35px;
    height: 35px;
    border-radius: 8px;
}

.middle-panel{
    height: calc(100vh - 70px);
    width: 100%;
    max-width: calc(100vw - 90px);
    border-radius: 8px;
    background-color:rgb(65, 65, 65) ;
    display: flex;
    justify-items: center;
}