* {
    box-sizing: border-box;
} 

body{
    background-color: black;
    font-family: "Inter", sans-serif;
}

/* top header control section*/
.heading{
    position:fixed;
    top:0;
    display: flex; /*so that i can do the three part alignment*/
    justify-content: space-between; 
    align-items: center; /*make the row of logos vertically centralised */
    object-fit: contain;
    width: calc(100vw - 10px);
    height:fit-content;
    padding: 10px 10px;
    z-index: 5;
    background-color: black;
}

#spotify-logo{
    height: 40px;
    max-width: 100%;
    cursor:pointer;
}
.home-search{
    display: flex ;
    align-items: center;
    gap:10px;
}

#homebttn{
    cursor:pointer;
    border:none;
    background:none;
}
#homebttn:hover{
    transform: scale(1.05)
}

.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%; /*make it a circle*/
    position: relative;
    background-color: rgb(44, 43, 43);
}

.home-img{
    width: 35px;
    height: 35px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute; /*linked to circle*/
    object-fit: contain;
}

.search{
    display: flex;
    align-items: center;
    width: max-content;
    height: 45px;
    border-radius: 25px;
    background: rgb(44, 43, 43);
    padding: 5px 5px;
    transition: background 0.4s;
}
.search:focus-within{
    background: rgb(70, 68, 68);
}
.search:hover{
    background: rgb(70, 68, 68);
}
.search-box{
    font-family: "Inter", sans-serif;
    font-size: 15px;
    color: rgb(154, 154, 154);
    outline:none;
    border:none;
    background:transparent;
}
.search-img{
    width: 40px;
    height: 40px;
    cursor:pointer;
}

.user-img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

/*bottom panels for playlists and albums*/
.homescreen-bottom{
    display: flex;
    position: fixed;
    margin-top: 70px;
    gap: 10px;
    width: 100vw;
    height: calc(100vh - 60px);
    object-fit: contain;
}

.playlist-panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65px;
    height: calc(100vh - 70px);
    border-radius: 8px;
    background-color:rgb(44, 43, 43) ;
    gap: 10px;
    z-index:10;
}
.lib-icon{
    margin-top: 10px;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 8px;
}

.side-playlists{
    position:fixed;
    width: 300px;
    height: calc(100vh - 150px);
    top:125px;
    left: 8px;
    overflow:hidden;
    overflow-y: scroll;
}
.side-playlists::-webkit-scrollbar{
    display:none;
}

.the-playlists{
    margin:auto;
    display:flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    gap:15px;
}
/* liked playlist button*/
.toplaylist-button{
    left: 5px;
    width: 55px;
    height: 55px;
    border-radius: 8px;
    border:none;
    background: none;
    cursor: pointer;
    position:relative;
}
.toplaylist-button:hover{
    transform: scale(1.05);
}
.bttn-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55px;
    height: 55px;
    border-radius: 8px;
}
.the-playlists{
    z-index: 1000;
}
.album-popup{
    display:flex;
    text-align: left;
    justify-content: center;
    position: absolute;
    z-index: 15;
    visibility: hidden;
    opacity:0;

    top: 3px;
    left:65px;
    height: 50px;
    width: auto;
    border-radius: 8px;
    background-color: rgb(66, 65, 65);

    white-space: pre;
    color: white;

    padding-left: 5px;
    padding-right: 5px;
}

.toplaylist-button:hover .album-popup{
    visibility: visible;
    opacity:1;
    transition-duration: 0.3s;
}


/* the middle panel*/
.middle-panel{
    height: calc(100vh - 70px);
    width: 100%;
    max-width: calc(100vw - 90px);
    border-radius: 8px;
    background-color:rgb(44, 43, 43) ;
    display: flex;
    justify-content: center;
    padding: 15px; 
}

.middle-frame{
    position:fixed;
    max-width: calc(100vw - 120px);
    height: calc(100vh - 70px);
    overflow:hidden;
    overflow-y: scroll;
    justify-content: center;
}
.middle-frame::-webkit-scrollbar{
    display: none
}

.middle-playlists{
    z-index: 1;
}

/* the group of 8 playlists*/
.grp-of-playlists{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    height: max-content;
    gap:8px;
}

.longalbums{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    height: 55px;
    width: calc((100vw - 128px)/2);
    background:rgba(67, 66, 66, 0.4);
    border-radius: 8px;
    border:none;
    color: white;
    font-size: 15px;
    transition: background 0.5s;
    cursor: pointer;
    padding: 0px;
}
.longalbums:hover{
    background: rgb(124, 121, 121)
}
.longalbumIMG{
    height:55px;
    width: 55px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

/* made for user section*/

#MFYframe{
    max-width: calc(100vw - 120px);
    height: 180px;
    overflow:hidden;
    overflow-x: scroll;
}
#MFYframe::-webkit-scrollbar{
    display:none;
}

.madeforuser{
    display:flex;
    flex-direction: row;
    gap: 10px;
}

.MFYplaylist{
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 180px;
    border: none;
    border-radius: 8px;
    background:rgb(44,43,43);
    color:rgb(182, 181, 181);
    cursor: pointer;
}
.MFYimg{
    height: 110px;
    border-radius: 8px;
}

.MFYplaylist:hover{
    background: rgba(67, 66, 66, 0.4)
}
