
/* the group of 8 playlists*/
.grp-of-playlists{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    height: max-content;
    gap:8px;
}

.longalbums{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    height: 55px;
    width: calc((100vw - 128px)/2);
    background:rgba(67, 66, 66, 0.4);
    border-radius: 8px;
    border:none;
    color: white;
    font-size: 15px;
    transition: background 0.5s;
    cursor: pointer;
    padding: 0px;
}
.longalbums:hover{
    background: rgb(124, 121, 121)
}
.longalbumIMG{
    height:55px;
    width: 55px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

/* all of the section*/
h2{
    color: white;
}

.sectionframe{
    max-width: calc(100vw - 120px);
    height: 250px;
    overflow:hidden;
    overflow-x: scroll;
}
.sectionframe::-webkit-scrollbar{
    display:none;
}

.madeforuser{
    display:flex;
    flex-direction: row;
    height: 250px;
    width: max-content;
}
.recentlyplayed{
    display:flex;
    flex-direction: row;
    height: 250px;
    width: max-content;
}
.uniquelyyours{
    display:flex;
    flex-direction: row;
    height: 250px;
    width: max-content;
}
.topmixes{
    display:flex;
    flex-direction: row;
    height: 250px;
    width: max-content;
}

.SECTIONplaylist{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 210px;
    height: 250px;
    border: none;
    border-radius: 8px;
    background:rgb(44,43,43);
    color:rgb(182, 181, 181);
    cursor: pointer;
    gap: 10px;
}
.SECimg{
    width: 200px;
    height: 200px;
    border-radius: 8px;
}

.SECTIONplaylist:hover{
    background: rgba(67, 66, 66, 0.4)
}
