* {
    box-sizing: border-box;
} 

body{
    background-color: black;
    font-family: "Inter", sans-serif;
}


/* top header control section*/
.heading{
    position:fixed;
    top:0;
    display: flex; /*so that i can do the three part alignment*/
    justify-content: space-between; 
    align-items: center; /*make the row of logos vertically centralised */
    object-fit: contain;
    width: calc(100vw - 10px);
    height:fit-content;
    padding: 10px 10px;
    z-index: 5;
    background-color: black;
}

#spotify-logo{
    height: 40px;
    max-width: 100%;
    cursor:pointer;
}
.home-search{
    display: flex ;
    align-items: center;
    gap:10px;
}

#homebttn{
    cursor:pointer;
    border:none;
    background:none;
}
#homebttn:hover{
    transform: scale(1.05)
}

.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%; /*make it a circle*/
    position: relative;
    background-color: rgb(44, 43, 43);
}

.home-img{
    width: 35px;
    height: 35px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute; /*linked to circle*/
    object-fit: contain;
}

.search{
    display: flex;
    align-items: center;
    width: max-content;
    height: 45px;
    border-radius: 25px;
    background: rgb(44, 43, 43);
    padding: 5px 5px;
    transition: background 0.4s;
}
.search:focus-within{
    background: rgb(70, 68, 68);
}
.search:hover{
    background: rgb(70, 68, 68);
}
.search-box{
    font-family: "Inter", sans-serif;
    font-size: 15px;
    color: rgb(154, 154, 154);
    outline:none;
    border:none;
    background:transparent;
}
.search-img{
    width: 40px;
    height: 40px;
    cursor:pointer;
}

.user-img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

/*bottom panels for playlists and albums*/
.homescreen-bottom{
    display: flex;
    position: fixed;
    margin-top: 60px;
    gap: 10px;
    width: 100vw;
    height: calc(100vh - 60px);
    object-fit: contain;
}



