/* the middle panel*/
.middle-panel{
    height: calc(100vh - 70px);
    width: 100%;
    max-width: calc(100vw - 15px);
    border-radius: 8px;
    background-image: linear-gradient(rgba(68, 32, 158, 0.5),rgb(44, 43, 43)) ;
    display: flex;
    justify-content: center;
    padding: 15px; 
    padding-top:0px;
}

.middle-frame{
    position:fixed;
    width: calc(100vw - 15px);
    height: calc(100vh - 70px);
    border-radius: 8px;
    overflow:hidden;
    overflow-y: scroll;
}
.middle-frame::-webkit-scrollbar{
    display:none;
}

.playlistdets{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/*the playlist portion*/
#topbanner{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    width:100%;
    height: fit-content;
    gap:15px;
    padding: 10px;
    padding-left: 20px;
    padding-top: 25px;
}
#LSimg{
    width: 190px;
    height: 190px;
    border-radius: 8px;
    box-shadow: 1px 1px 0.5px rgb(72, 71, 71);
}
#dets{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
#dets b{
    color:white;
}
#plist{
    font-size: 15px;
}
#dets h1{
    margin: 0;
    font-size:5.7vw;
}
#nextline{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    font-size: 15px;
}
#LPpfp{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
#nextline b{
    margin:0;
    width: fit-content;
    color: white;
}
#nextline p{
    width:fit-content;
    margin: 0;
    color: rgb(100, 98, 98);
}

/*the pause play line*/
#playpause{
    display:flex;
    position: sticky;
    top: 0px;
    align-items: center;
    width: 100%;
    height: 12vh;
    background-color: rgb(34, 22, 64);
    padding-left: 10px;
}
.playbttn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    border-radius: 50%; /*make it a circle*/
    position: relative;
    background-color: rgb(60, 211, 83);
    border: none;
    cursor: pointer;
}
#thebttn{
    width: 30px;
    height: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute; /*linked to circle*/
}

.playbttn:hover{
    transform: scale(1.05);
}

/*song section*/
#songsection{
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgb(34, 22, 64);
    padding-left: 10px;
    padding-right: 10px;
    object-fit: contain;
    
}

/*title line*/
#heading{
    position:sticky;
    top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    height: 6vh;
    background-color: rgb(34, 22, 64);
    color: rgb(142, 140, 140);
    font-size: 15px;
}

.num{
    text-align: center;
    width: 10vw
}
.title{
    text-align: left;
    width: 45vw;                                                                                                                                                                                                                                                                                                                                                                                                                                            
}
.album{
    text-align: left;
    width: 30vw;
}
.clock{
    margin-top: 10px;
    margin-bottom: 0px;
    align-content: center;
    width: 15vw;
}
.clock img{
    width:17px;
    height:17px;
}

hr{
    width:100%;
    color: rgb(111, 110, 110);
    background-color: rgb(111, 110, 110);
    height: 1px;
    border-width: 0;

}

/*lines of song*/
.LPsongs{
    display: flex;
    flex-direction: row;
    color: rgb(142, 140, 140);
    background:none;
    transition: background 0.5s;
    border: none;
    padding-top:5px;
    padding-bottom:5px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 15px;
    width:100%;
    border-radius: 8px;
    height: fit-content;
    cursor: pointer;
}
.LPsongs:hover{
    background-color: rgba(96, 72, 148, 0.6);
}
.song{
    width: 45vw;
    text-align:left;
    display:flex;
    flex-direction: row;
    gap: 10px;
    justify-content: left;
    align-items: center;
} 
.thealbumpic{
    width: 55px;
    height: 55px;
    border-radius: 8px;
}
.LPsongdets{
    display:flex;
    flex-direction: column;
    align-items: left;
    gap: 5px;
}
.name{
    margin: 0px;
    color:white;
}
.artist{
    margin:0px;
}
.duration{
    text-align: left;
    width: 15vw;
}